In [1]:
import pandas as pd

C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [10]:
data=pd.read_csv('gender.csv')

In [21]:
data.columns

Index(['Payment type', 'Australian Capital Territory', 'Unnamed: 2',
       'Unnamed: 3', 'ACT', 'New South Wales', 'Unnamed: 6', 'Unnamed: 7',
       'NSW', 'Northern Territory', 'Unnamed: 10', 'Unnamed: 11', 'NT',
       'Queensland', 'Unnamed: 14', 'Unnamed: 15', 'QLD', 'South Australia',
       'Unnamed: 18', 'Unnamed: 19', 'SA', 'Tasmania', 'Unnamed: 22',
       'Unnamed: 23', 'TAS', 'Victoria', 'Unnamed: 26', 'Unnamed: 27', 'VIC',
       'Western Australia', 'Unnamed: 30', 'Unnamed: 31', 'WA', 'Unknown',
       'Unnamed: 34', 'Unnamed: 35', 'UNKNOWN', 'Australia', 'Unnamed: 38',
       'Unnamed: 39', 'AUST'],
      dtype='object')

In [30]:
# List of regions to extract data for
regions = ['Australian Capital Territory', 'New South Wales', 'Northern Territory', 'Queensland', 
           'South Australia', 'Tasmania', 'Victoria', 'Western Australia', 'Australia']

# Dictionary to store state data
state_data = {}

# Loop through each region and extract relevant columns
for region in regions:
    # Manually select the relevant columns for male, female, unknown, and total based on the region's position
    if region == 'Australian Capital Territory':
        region_columns = ['Australian Capital Territory', 'Unnamed: 2', 'Unnamed: 3', 'ACT']
    elif region == 'New South Wales':
        region_columns = ['New South Wales', 'Unnamed: 6', 'Unnamed: 7', 'NSW']
    elif region == 'Northern Territory':
        region_columns = ['Northern Territory', 'Unnamed: 10', 'Unnamed: 11', 'NT']
    elif region == 'Queensland':
        region_columns = ['Queensland', 'Unnamed: 14', 'Unnamed: 15', 'QLD']
    elif region == 'South Australia':
        region_columns = ['South Australia', 'Unnamed: 18', 'Unnamed: 19', 'SA']
    elif region == 'Tasmania':
        region_columns = ['Tasmania', 'Unnamed: 22', 'Unnamed: 23', 'TAS']
    elif region == 'Victoria':
        region_columns = ['Victoria', 'Unnamed: 26', 'Unnamed: 27', 'VIC']
    elif region == 'Western Australia':
        region_columns = ['Western Australia', 'Unnamed: 30', 'Unnamed: 31', 'WA']
    elif region == 'Australia':
        region_columns = ['Australia', 'Unnamed: 38', 'Unnamed: 39', 'AUST']
    
    # Extract the relevant columns (along with the Payment type)
    region_df = data[['Payment type'] + region_columns].copy()
    
    # Rename the columns: the third unnamed column is for "Other" (Unknown)
    region_df.columns = ['Payment type', 'Male', 'Female', 'Other', 'Total']
    region_df = region_df.drop(index=0)
    # Remove commas and convert to numeric
    for col in ['Male', 'Female', 'Other']:
        region_df[col] = pd.to_numeric(region_df[col].replace({',': ''}, regex=True), errors='coerce')
    
    # Calculate the correct total by summing Male, Female, and Other columns
    region_df['Total'] = region_df[['Male', 'Female', 'Other']].sum(axis=1)
    
    
    # Calculate the total for each column (Male, Female, Other, and Total)
    total_row = pd.DataFrame([{
        'Payment type': 'All Payments',
        'Male': region_df['Male'].sum(),
        'Female': region_df['Female'].sum(),
        'Other': region_df['Other'].sum(),
        'Total': region_df['Total'].sum()
    }])
    
    # Append the total row to the dataframe
    region_df = pd.concat([region_df, total_row], ignore_index=True)
    
    
    # Store the cleaned data for each region
    state_data[region] = region_df

# Save each region's data to separate CSV files
for region in state_data:
    region_df = state_data[region]
    # Clean up the data by removing any potential extra headers or empty rows
    region_df_cleaned = region_df.dropna(how='all')
    # Save to CSV
    region_df_cleaned.to_csv(f'{region}_data.csv', index=False)

# Save the total data for Australia as well
state_data['Australia'].to_csv('Australia_data.csv', index=False)

In [23]:
state_data['Victoria']

,Payment type,Male,Female,Other,Total
0,NaN,Male,Female,Unknown,Total
1,ABSTUDY (Living Allowance),280,460,0,740
2,ABSTUDY (Non-Living Allowance),405,520,0,925
3,Age Pension,"263,510","344,340",0,"607,855"
4,Austudy,"2,730","3,235",0,"5,965"
5,Carer Allowance,"42,780","126,020",0,"168,800"
6,Carer Allowance (Child Health Care Card only),160,"1,710",0,"1,870"
7,Carer Payment,"21,055","53,670",0,"74,725"
8,Commonwealth Seniors Health Card,"61,555","68,040",0,"129,595"
9,Disability Support Pension,"98,480","92,820",0,"191,300"
10,Health Care Card,"125,030","216,540",5,"341,570"
11,JobSeeker Payment,"98,115","89,395",0,"187,510"
12,Low Income Card,"29,595","41,350",0,"70,945"
13,Parenting Payment Partnered,"1,460","13,360",0,"14,820"
14,Parenting Payment Single,"3,280","59,590",0,"62,870"
15,Pension Concession Card,"438,000","609,350",0,"1,047,345"
16,Special Benefit,730,"1,225",0,"1,955"
17,Youth Allowance (other),"7,340","7,810",0,"15,150"
18,Youth Allowance (student and apprentice),"15,100","21,450",0,"36,550"

In [15]:
state_data['Western Australia']

                                     Payment type Western Australia
0                                             NaN              Male
1                      ABSTUDY (Living Allowance)               365
2                  ABSTUDY (Non-Living Allowance)             1,135
3                                     Age Pension           110,305
4                                         Austudy               930
5                                 Carer Allowance            11,250
6   Carer Allowance (Child Health Care Card only)                60
7                                   Carer Payment             5,530
8                Commonwealth Seniors Health Card            27,230
9                      Disability Support Pension            32,415
10                               Health Care Card            49,515
11                              JobSeeker Payment            47,060
12                                Low Income Card             4,940
13                    Parenting Payment Partnered               495
14                       Parenting Payment Single             1,945
15                        Pension Concession Card           169,300
16                                Special Benefit               170
17                        Youth Allowance (other)             4,725
18       Youth Allowance (student and apprentice)             4,005

In [8]:
Data['ACT']

0      Total
1         75
2        115
3     25,055
4        275
5      5,990
6         95
7      1,850
8     10,655
9      9,060
10    13,935
11     7,360
12     1,590
13       410
14     2,765
15    42,725
16        90
17       825
18     2,405
Name: ACT, dtype: object

In [7]:
import pandas as pd

# Load the CSV file (adjust the file path as needed)
data = pd.read_csv('StateData.csv')

# Exclude the 'TotalPayments' column when searching for the top payment
columns_to_consider = data.columns.difference(['AUState', 'TotalPayments'])

def get_top_n(row, n):
    top_n_values = row.nlargest(n)
    return [f"{idx} ({val})" for idx, val in top_n_values.items()]

# Get the top 3 payments (name and value) for each state
data['TopPayment'] = data[columns_to_consider].apply(lambda row: get_top_n(row, 1)[0], axis=1)
data['SecondTopPayment'] = data[columns_to_consider].apply(lambda row: get_top_n(row, 2)[1], axis=1)
data['ThirdTopPayment'] = data[columns_to_consider].apply(lambda row: get_top_n(row, 3)[2], axis=1)


# Display the dataframe with the new column
data.head(20)

,AUState,ABSTUDY (Living allowance),ABSTUDY (Non-living allowance),Age Pension,Austudy,Carer Allowance,Carer Allowance (Child Health Care Card only),Carer Payment,Commonwealth Rent Assistance,Commonwealth Seniors Health Card,...,Parenting Payment Partnered,Parenting Payment Single,Pension Concession Card,Special Benefit,Youth Allowance (other),Youth Allowance (student and apprentice),TotalPayments,TopPayment,SecondTopPayment,ThirdTopPayment
0,Australian Capital Territory,75,115,25055,275,5990,95,1850,9830,10655,...,410,2765,42725,90,825,2405,158325,Pension Concession Card (42725),Age Pension (25055),Health Care Card (13935)
1,New South Wales,2390,6465,794935,5545,212790,2650,111475,424315,178090,...,17835,91775,1380735,2675,23160,39175,4821740,Pension Concession Card (1380735),Age Pension (794935),Commonwealth Rent Assistance (424315)
2,Northern Territory,350,1240,10710,80,3515,75,1890,7410,1440,...,1955,5625,30775,30,3655,245,154990,Pension Concession Card (30775),Health Care Card (27150),JobSeeker Payment (19965)
3,Queensland,2375,6755,526545,4740,135680,1695,62745,328650,95420,...,11685,79270,940330,885,23005,21555,3433645,Pension Concession Card (940330),Age Pension (526545),Commonwealth Rent Assistance (328650)
4,South Australia,495,955,218345,1675,54055,715,24485,94855,38220,...,4430,22535,377575,375,7120,9495,1271200,Pension Concession Card (377575),Age Pension (218345),Health Care Card (97605)
5,Tasmania,190,320,72165,490,17430,215,9300,37120,10450,...,1365,8595,131750,55,2790,2180,441605,Pension Concession Card (131750),Age Pension (72165),Commonwealth Rent Assistance (37120)
6,Victoria,740,925,607855,5965,168800,1870,74725,285685,129595,...,14820,62870,1047345,1955,15150,36550,3793845,Pension Concession Card (1047345),Age Pension (607855),Health Care Card (341570)
7,Western Australia,865,2410,248420,2045,48190,765,20315,107050,55370,...,5160,35905,407785,495,9785,9880,1476115,Pension Concession Card (407785),Age Pension (248420),Health Care Card (129850)

In [8]:
data.to_csv('clean_data.csv', index=False)

In [6]:
# "ABSTUDY (Living allowance)", 
# "ABSTUDY (Non-living allowance)", 
# "Age Pension", 
# "Austudy", 
# "Carer Allowance", 
# "Carer Allowance (Child Health Care Card only)", 
# "Carer Payment", 
# "Commonwealth Rent Assistance", 
# "Commonwealth Seniors Health Card", 
# "Disability Support Pension", 
# "Double Orphan Pension", 
# "Family Tax Benefit A", 
# "Family Tax Benefit B", 
# "Health Care Card", 
# "JobSeeker Payment", 
# "Low Income Card", 
# "Parenting Payment Partnered", 
# "Parenting Payment Single", 
# "Pension Concession Card", 
# "Special Benefit", 
# "Youth Allowance (other)", 
# "Youth Allowance (student and apprentice)"

In [7]:
## update data about major cities in Au

In [2]:
data = pd.read_excel('worldcities.xlsx')

In [3]:
data.head(20)

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629
5,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,24922000.0,1608618140
6,Shanghai,Shanghai,31.2286,121.4747,China,CN,CHN,Shanghai,admin,24073000.0,1156073548
7,São Paulo,Sao Paulo,-23.5500,-46.6333,Brazil,BR,BRA,São Paulo,admin,23086000.0,1076532519
8,Seoul,Seoul,37.5600,126.9900,"Korea, South",KR,KOR,Seoul,primary,23016000.0,1410836482
9,Mexico City,Mexico City,19.4333,-99.1333,Mexico,MX,MEX,Ciudad de México,primary,21804000.0,1484247881
10,Cairo,Cairo,30.0444,31.2358,Egypt,EG,EGY,Al Qāhirah,primary,20296000.0,1818253931
11,New York,New York,40.6943,-73.9249,United States,US,USA,New York,NaN,18908608.0,1840034016
12,Dhaka,Dhaka,23.7639,90.3889,Bangladesh,BD,BGD,Dhaka,primary,18627000.0,1050529279
13,Beijing,Beijing,39.9067,116.3975,China,CN,CHN,Beijing,primary,18522000.0,1156228865
14,Kolkāta,Kolkata,22.5675,88.3700,India,IN,IND,West Bengal,admin,18502000.0,1356060520
15,Bangkok,Bangkok,13.7525,100.4942,Thailand,TH,THA,Krung Thep Maha Nakhon,primary,18007000.0,1764068610
16,Shenzhen,Shenzhen,22.5415,114.0596,China,CN,CHN,Guangdong,minor,17619000.0,1156158707
17,Moscow,Moscow,55.7558,37.6172,Russia,RU,RUS,Moskva,primary,17332000.0,1643318494
18,Buenos Aires,Buenos Aires,-34.6033,-58.3817,Argentina,AR,ARG,"Buenos Aires, Ciudad Autónoma de",primary,16710000.0,1032717330
19,Lagos,Lagos,6.4550,3.3841,Nigeria,NG,NGA,Lagos,minor,16637000.0,1566593751

In [1]:
import math

In [2]:
T = 84.2
W = 4000/60 * (math.pi *2)
T*W

35269.613524301414

In [16]:
60*117/(2*math.pi*344)/0.0508/(5.08e-3 *0.0508*0.315)

786497.0727313301

In [10]:
62.7/0.78

80.38461538461539